<span class="like-count-<%=post.id%>" data-like-count="<%=post.likes.count%>">
<% if post.likes.count > 0 %>
  â˜ <%= post.likes.count %>
<% end %>
</span>


<button 
  class="like-button" 
  post-id="<%=post.id%>" 
  user-id="<%=current_user.id%>">
  Like
</button>

