<br>

<button 
  class="comment-like-button btn" 
  post-id="<%=post.id%>" 
  user-id="<%=current_user.id%>"
  comment-id="<%=comment.id%>">
  Like
</button>

<span class="comment-like-count-<%=comment.id%>" data-like-count="<%=comment.comment_likes.count%>">
  <%if comment.comment_likes.count > 0 %>
      â˜ <%= comment.comment_likes.count %> Likes
  <%end %>
</span>

