<span class="comment-like-count-<%=comment.id%>" data-like-count="<%=comment.comment_likes.count%>">
  <%if comment.comment_likes.count > 0 %>
      â˜ <%= comment.comment_likes.count %>
  <%end %>
</span>


<button 
  class="comment-unlike-button" 
  post-id="<%=post.id%>" 
  comment-like-id="<%=comment_like.id%>" 
  comment-id = "<%=comment.id%>" 
  user-id="<%=current_user.id%>">
  Unlike
</button>