<form class="new-post" action="<%=user_posts_url(user_id)%>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <textarea class="textbox-post" name="post[body]" placeholder="Write something..."></textarea>
  <br>

  <input class="file-submit" type="file" name="post[photo]">

  <input type="hidden" name="post[recipient_id]" value="<%=params['id']%>">

  <select class="tag-dropdown" name="tags[]" multiple="multiple">
    <option>Select Friend</option>  
    <%current_user.outbound_followers.each do |outbound_follower| %>
      <option value="<%=outbound_follower.id%>"><%=outbound_follower.username%></option>
      <%end%>
  </select> 
  <br>
  <input class="btn" type="submit" value="Share">
</form>

<br>
<br>
<br>






