<form class="like-form" action="<%=user_post_like_url(current_user.id,post.id, like.id)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="like[post_id]" value="<%=post.id%>">
  <input type="hidden" name="like[user_id]" value="<%=current_user.id%>">
  <input type="hidden" name="_method", value="delete">
  <input type="submit" value="Unlike">
</form>

<span class="like-count">
  <% if post.likes.count > 0 %>
      ☝ <%= post.likes.count %>
  <% end %>
</span>