<span class="sidebar">
  <div><%=link_to current_user.username, user_url(current_user.id)%></div>
  <br>
  <div><%=link_to "Friends", user_follows_url(current_user.id)%></div>
  <br>
  <div><%=link_to "Home", user_posts_url(current_user.id)%> </div> 
  <br>
  <div><%=link_to "Photos", user_photos_url(current_user.id)%> </div>
  <br>

  <%current_user.groups.each do |group|%>
    <%=link_to group.name, user_group_url(current_user.id, group.id)%>
    <br>
    <br>
  <%end%>
</span>